.box {
    float: left;
    width: 250px;
    height: 200px;
    padding: 10px;
    margin: 1em;
    border: 1px solid black;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 15px;
    white-space: nowrap;
}

div.inline { float:left; }
.clearBoth { clear:both; }